# AI LAB 11
### Name: Rasikh Ali
### Rollnumber: BSEM-F19-060

<div class="alert alert-block alert-success">
    Using <b>Python </b> v3.8.18
    <br>
    with <b>Jupyter </b> v7.4.9
</div>

# Libraries

In [484]:
import pandas as pd
import numpy as np
import pickle

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split

# Data Loading/Reading

In [485]:
df = pd.read_csv("data.csv")
# df = pd.read_json("data.json")
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,3.130000e+05,3.0,1.50,1340.0,7912.0,1.5,0.0,0.0,3,1340.0,0.0,1955.0,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2.384000e+06,5.0,2.50,3650.0,9050.0,2.0,0.0,4.0,5,3370.0,280.0,1921.0,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,3.420000e+05,3.0,2.00,1930.0,11947.0,1.0,0.0,0.0,4,1930.0,0.0,1966.0,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,4.200000e+05,3.0,2.25,2000.0,8030.0,1.0,0.0,0.0,4,1000.0,1000.0,1963.0,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,5.500000e+05,4.0,2.50,1940.0,10500.0,1.0,0.0,0.0,4,1140.0,800.0,1976.0,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,7/9/2014 0:00,3.081667e+05,3.0,1.75,1510.0,6360.0,1.0,0.0,0.0,4,1510.0,0.0,1954.0,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,7/9/2014 0:00,5.343333e+05,3.0,NaN,1460.0,7573.0,2.0,0.0,0.0,3,1460.0,0.0,1983.0,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,7/9/2014 0:00,4.169042e+05,3.0,NaN,3010.0,7014.0,2.0,0.0,0.0,3,3010.0,0.0,2009.0,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,7/10/2014 0:00,2.034000e+05,4.0,2.00,2090.0,6630.0,1.0,0.0,0.0,3,1070.0,1020.0,1974.0,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,2.206000e+05,3.0,2.50,1490.0,8102.0,2.0,0.0,0.0,4,1490.0,0.0,1990.0,0,18717 SE 258th St,Covington,WA 98042,USA

In [486]:
# pd.set_option("display.max_rows", None, "display.max_columns", None)
# df

# Data Exploration

In [487]:
print(f"Number of Rows: {df.shape[0]} \nNumber of Columns: {df.shape[1]}")

Number of Rows: 4600
Number of Columns: 18

In [488]:
df.head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3.0,1.5,1340.0,7912.0,1.5,0.0,0.0,3,1340.0,0.0,1955.0,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,5.0,2.5,3650.0,9050.0,2.0,0.0,4.0,5,3370.0,280.0,1921.0,0,709 W Blaine St,Seattle,WA 98119,USA

In [489]:
df.tail(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4598,7/10/2014 0:00,203400.0,4.0,2.0,2090.0,6630.0,1.0,0.0,0.0,3,1070.0,1020.0,1974.0,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,220600.0,3.0,2.5,1490.0,8102.0,2.0,0.0,0.0,4,1490.0,0.0,1990.0,0,18717 SE 258th St,Covington,WA 98042,USA

In [490]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.597000e+03,4595.000000,4598.000000,4598.000000,4.598000e+03,4598.000000,4595.000000,4598.000000,4600.000000,4597.000000,4597.000000,4594.000000,4600.000000
mean,5.521190e+05,3.401088,2.160668,2139.498913,1.485607e+04,1.511853,0.007182,0.240757,3.451739,1827.509463,312.122036,1970.799086,808.608261
std,5.639834e+05,0.908983,0.783920,963.387024,3.589177e+04,0.537905,0.084449,0.778558,0.677230,862.138540,464.228562,29.740666,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.238333e+05,3.000000,1.750000,1460.000000,5.001000e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.610000e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.550000e+05,4.000000,2.500000,2620.000000,1.100375e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [491]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4597 non-null   float64
 2   bedrooms       4595 non-null   float64
 3   bathrooms      4598 non-null   float64
 4   sqft_living    4598 non-null   float64
 5   sqft_lot       4598 non-null   float64
 6   floors         4598 non-null   float64
 7   waterfront     4595 non-null   float64
 8   view           4598 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4597 non-null   float64
 11  sqft_basement  4597 non-null   float64
 12  yr_built       4594 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4597 non-null   object
 15  city           4596 non-null   object
 16  statezip       4597 non-null   object
 17  country        4594 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB

In [492]:
print("-- Attributes in Data --")
for cols in df.columns:
    print(cols)

-- Attributes in Data --
date
price
bedrooms
bathrooms
sqft_living
sqft_lot
floors
waterfront
view
condition
sqft_above
sqft_basement
yr_built
yr_renovated
street
city
statezip
country

In [493]:
print("-- Number of instances in Data --")
print(df.count())

-- Number of instances in Data --
date             4600
price            4597
bedrooms         4595
bathrooms        4598
sqft_living      4598
sqft_lot         4598
floors           4598
waterfront       4595
view             4598
condition        4600
sqft_above       4597
sqft_basement    4597
yr_built         4594
yr_renovated     4600
street           4597
city             4596
statezip         4597
country          4594
dtype: int64

In [494]:
df['city'].unique()

array(['Shoreline', 'Seattle', 'Kent', 'Bellevue', 'Redmond',
       'Maple Valley', 'North Bend', 'Lake Forest Park', 'Sammamish',
       'Auburn', 'Des Moines', 'Bothell', 'Federal Way', 'Kirkland',
       'Issaquah', 'Woodinville', 'Normandy Park', 'Fall City', 'Renton',
       'Carnation', 'Snoqualmie', 'Duvall', 'Burien', 'Covington',
       'Inglewood-Finn Hill', 'Kenmore', 'Newcastle', 'Mercer Island',
       'Black Diamond', 'Ravensdale', 'Clyde Hill', 'Algona', 'Skykomish',
       'Tukwila', 'Vashon', 'Yarrow Point', 'SeaTac', 'Medina',
       'Enumclaw', 'Snoqualmie Pass', 'Pacific', 'Beaux Arts Village',
       'Preston', 'Milton', nan], dtype=object)

In [495]:
df.nunique()

date               70
price            1738
bedrooms           10
bathrooms          26
sqft_living       566
sqft_lot         3112
floors              6
waterfront          2
view                5
condition           5
sqft_above        511
sqft_basement     207
yr_built          115
yr_renovated       60
street           4522
city               44
statezip           77
country             1
dtype: int64

In [496]:
print("-- Number of Null Values in Data --")
print(df.isnull().sum())

-- Number of Null Values in Data --
date             0
price            3
bedrooms         5
bathrooms        2
sqft_living      2
sqft_lot         2
floors           2
waterfront       5
view             2
condition        0
sqft_above       3
sqft_basement    3
yr_built         6
yr_renovated     0
street           3
city             4
statezip         3
country          6
dtype: int64

# Data Pre-Processing

In [497]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4597 non-null   float64
 2   bedrooms       4595 non-null   float64
 3   bathrooms      4598 non-null   float64
 4   sqft_living    4598 non-null   float64
 5   sqft_lot       4598 non-null   float64
 6   floors         4598 non-null   float64
 7   waterfront     4595 non-null   float64
 8   view           4598 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4597 non-null   float64
 11  sqft_basement  4597 non-null   float64
 12  yr_built       4594 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4597 non-null   object
 15  city           4596 non-null   object
 16  statezip       4597 non-null   object
 17  country        4594 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB

In [498]:
def fillNaObject(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['street','city','statezip','country']
fillNaObject(columns)

In [499]:
def fillNaInt(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['bedrooms','bathrooms','floors','yr_built']
fillNaInt(columns)

In [500]:
def fillNaFloat(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['price','sqft_living','sqft_above','sqft_basement']
fillNaFloat(columns)

In [501]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   float64
 5   sqft_lot       4598 non-null   float64
 6   floors         4600 non-null   float64
 7   waterfront     4595 non-null   float64
 8   view           4598 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   float64
 11  sqft_basement  4600 non-null   float64
 12  yr_built       4600 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB

In [502]:
def convertFloattoInt(cols):
    for i in cols:
        df[i] = df[i].fillna(0).astype('int64')

columns = ['price','bedrooms','bathrooms','floors','yr_built','sqft_living','waterfront','sqft_lot','view','sqft_above','sqft_basement']
convertFloattoInt(columns)

In [503]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   int64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4600 non-null   int64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   int64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: int64(13), object(5)
memory usage: 647.0+ KB

In [504]:
df.drop('country', axis=1, inplace=True)

In [505]:
df.drop('statezip', axis=1, inplace=True)

In [506]:
df.drop('city', axis=1, inplace=True)

In [507]:
df.drop('street', axis=1, inplace=True)

In [508]:
df.drop('date', axis=1, inplace=True)

In [509]:
df.head(2)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,313000,3,1,1340,7912,1,0,0,3,1340,0,1955,2005
1,2384000,5,2,3650,9050,2,0,4,5,3370,280,1921,0

In [510]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4600 non-null   int64
 1   bedrooms       4600 non-null   int64
 2   bathrooms      4600 non-null   int64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   int64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
dtypes: int64(13)
memory usage: 467.3 KB

In [511]:
df_encoded = df.copy()

In [512]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4600 non-null   int64
 1   bedrooms       4600 non-null   int64
 2   bathrooms      4600 non-null   int64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   int64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
dtypes: int64(13)
memory usage: 467.3 KB

In [513]:
print(df_encoded['price'].value_counts())

price
0          49
300000     42
400000     31
450000     29
440000     29
           ..
1965221     1
686000      1
725995      1
668500      1
220600      1
Name: count, Length: 1739, dtype: int64

In [514]:
# X = df_encoded.drop('bedrooms', axis=1)  # Features
# y = df_encoded['price']              # Target
# scaler = StandardScaler()
# X_scaled = scaler.fit_transform(X)

In [515]:
df_encoded.to_csv(r'encoded-data.csv', index = False, header = True)

# Train-Test Split

In [516]:
trainData, testData = train_test_split(df_encoded, test_size=0.2, shuffle=False)

In [517]:
print(trainData.shape, testData.shape)

(3680, 13) (920, 13)

In [518]:
trainData.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,313000,3,1,1340,7912,1,0,0,3,1340,0,1955,2005
1,2384000,5,2,3650,9050,2,0,4,5,3370,280,1921,0
2,342000,3,2,1930,11947,1,0,0,4,1930,0,1966,0
3,420000,3,2,2000,8030,1,0,0,4,1000,1000,1963,0
4,550000,4,2,1940,10500,1,0,0,4,1140,800,1976,1992

In [519]:
testData.head(2)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
3680,500000,4,3,3720,15048,3,0,0,3,3720,0,1979,2014
3681,570000,3,2,1890,29185,1,0,0,3,1470,420,1949,2013

In [520]:
trainData.iloc[:,1:]

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,3,1,1340,7912,1,0,0,3,1340,0,1955,2005
1,5,2,3650,9050,2,0,4,5,3370,280,1921,0
2,3,2,1930,11947,1,0,0,4,1930,0,1966,0
3,3,2,2000,8030,1,0,0,4,1000,1000,1963,0
4,4,2,1940,10500,1,0,0,4,1140,800,1976,1992
...,...,...,...,...,...,...,...,...,...,...,...,...
3675,2,2,1860,10856,1,0,0,3,1260,600,1952,2008
3676,3,1,960,8855,1,0,0,4,960,0,1958,1972
3677,4,1,2010,6300,1,0,2,5,1610,400,1937,0
3678,2,1,900,28800,1,0,0,1,900,0,1928,0
3679,4,2,2340,11784,2,0,0,3,2340,0,1997,0

In [521]:
# train_x = df_encoded.drop('price')
train_x = trainData.iloc[:,1:]
train_x.head(2)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,3,1,1340,7912,1,0,0,3,1340,0,1955,2005
1,5,2,3650,9050,2,0,4,5,3370,280,1921,0

In [522]:
train_y = trainData.iloc[:, 0]
train_y.head(2)

0     313000
1    2384000
Name: price, dtype: int64

In [523]:
test_x = testData.iloc[:,1:]
test_x.head(2)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
3680,4,3,3720,15048,3,0,0,3,3720,0,1979,2014
3681,3,2,1890,29185,1,0,0,3,1470,420,1949,2013

In [524]:
test_y = testData.iloc[:, 0]
test_y.head(2)

3680    500000
3681    570000
Name: price, dtype: int64

# Model Training using SVC

In [531]:
print("-- Training using SVC on Training Data --")
print("-- Parameters & Values: ", end='')

# model_svc = SVC(gamma='auto', random_state=0)
# model_svc.fit(train_x, np.ravel(train_y))

from sklearn.svm import SVR
model_svr = SVR(kernel='rbf')  # rbf kernel is commonly used for regression
model_svr.fit(train_x, train_y)

-- Training using SVC on Training Data --
-- Parameters & Values:

SVR()

In [533]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_x_scaled = scaler.fit_transform(train_x)
test_x_scaled = scaler.transform(test_x)

from sklearn.model_selection import GridSearchCV
param_grid = {'C': [0.1, 1, 10], 'epsilon': [0.01, 0.1, 0.2], 'kernel': ['linear', 'rbf']}
grid_search = GridSearchCV(SVR(), param_grid, cv=5)
grid_search.fit(train_x_scaled, train_y)
print("Best Parameters: ", grid_search.best_params_)

Best Parameters:  {'C': 10, 'epsilon': 0.2, 'kernel': 'linear'}

In [532]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_x_scaled = scaler.fit_transform(train_x)
test_x_scaled = scaler.transform(test_x)
model_svr.fit(train_x_scaled, train_y)

SVR()

In [ ]:
# # Saving Trained Model
# pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [527]:
# Load saved Model
model = pickle.load(open('model_svc.pkl', 'rb'))

In [528]:
model_predictions = model.predict(test_x)

In [529]:
testdata_predict = testData.copy(deep=True)
pd.options.mode.chained_assignment = None

testdata_predict['Prediction'] = model_predictions

In [530]:
model_accuracy_score = accuracy_score(testdata_predict['price'], testdata_predict['Prediction'])

print("-- Model Accuracy Score: ", end='')
print(round(model_accuracy_score,3))

-- Model Accuracy Score: 0.013